@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
  margin: 0;
  text-align: center;
  background-color: black;
  cursor: crosshair;
  font-family: 'Montserrat', sans-serif;
}
.link
{
  color:#fff;
  font-size: 16px;
}
.link:hover
{
  color:#fff;
  font-size: 16px;
}
.texts
{
  text-shadow: 0 1px 0 #474747,
  0 2px 0 #474747,
  0 3px 0 #474747,
  0 4px 0 #474747,
  0 5px 0 #474747,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15);
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}
.header {
  /*top:45%;*/
  top: 45%;
  color: #DDDDDD;
}
.footer {
  bottom:3%;
}
.description {
  color: gray;
  padding-top: 50px;
}
.btn {
  border-radius: 30px;
  padding: 10px 30px;
}
a, a:hover, a:visited {
  color: red;
  text-decoration: none;
} 
.disable-selection {
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
h1::after {
  content: 'India';
  font-size: 12px;
  position:absolute;
  top: 3px;
  padding-left: 5px;
  font-weight: 400;
}
h2::after {
  content: '';
  font-size: 12px;
  position:absolute;
  top: 14px;
  padding-left: 5px;
}